[attributes]
---
label: Page - Equity
app_layout: application
position: 2

[content]
{{ cms:partial layouts/cms/equity }}
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file image, render: false, required: true }}

{{ cms:text tab-title-1, render: false }}
{{ cms:text tab-title-2, render: false }}
{{ cms:wysiwyg tab-content-1, render: false }}
{{ cms:wysiwyg tab-content-2, render: false }}




[js]











[css]











