[attributes]
---
label: Template - Thematic Area - Database
app_layout: application
position: 16

[content]
{{ cms:text short_title, render: false, required: true }}
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file image, render:false }}
{{ cms:text button-download, render: false, required: true }}
{{ cms:text button-search, render: false, required: true }}

{{ cms:text tab-title-1, render: false }}
{{ cms:text tab-title-2, render: false }}
{{ cms:text tab-title-3, render: false }}
{{ cms:wysiwyg tab-content-1, render: false }}
{{ cms:wysiwyg tab-content-2, render: false }}
{{ cms:wysiwyg tab-content-3, render: false }}











[js]












[css]












