[attributes]
---
label: Template - Thematic/Data Area - Database
app_layout: application
position: 16

[content]

{{ cms:partial layouts/cms/thematic-area-or-database-default }}
{{ cms:text short_title, render: false, required: true }}
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file image, render:false }}
{{ cms:text button-text, render: false, required: false }}
{{ cms:text button-link, render: false, required: false }}
{{ cms:text tab-title-1, render: false }}
{{ cms:wysiwyg tab-content-1, render: false }}
{{ cms:text tab-title-2, render: false }}
{{ cms:wysiwyg tab-content-2, render: false }}
{{ cms:text tab-title-3, render: false }}
{{ cms:wysiwyg tab-content-3, render: false }}
{{ cms:text tab-title-4, render: false }}
{{ cms:wysiwyg tab-content-4, render: false }}
{{ cms:text tab-title-5, render: false }}
{{ cms:wysiwyg tab-content-5, render: false }} 

[js]

[css]
