[attributes]
---
label: Page - Green List
app_layout: application
position: 11

[content]
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file theme_image, render:false }}

{{ cms:text section_about_title }}
{{ cms:wysiwyg section_about_content }}
{{ cms:text section_percentage_title }}
{{ cms:wysiwyg section_percentage_content }}
{{ cms:text section_coverage_title }}
{{ cms:wysiwyg section_coverage_content }}
{{ cms:text section_size_title }}
{{ cms:wysiwyg section_size_content }}


[js]



[css]



