[attributes]
---
label: Title with cover, article on the left, resources box on the right
app_layout: application
position: 13

[content]
<main class="container--profile container--push-bottom">
  <nav class="breadcrumbs">
    {{ cms:partial cms/breadcrumbs }}
  </nav>

  {{ cms:partial cms/hero }}

  <article class="two-thirds article s-article">
    {{ cms:wysiwyg content }}
  </article>

  <aside class="one-thirds">
    {{ cms:partial cms/resources }}
  </aside>
</main>


[js]


[css]


