[attributes]
---
label: Single column article and list of countries by region
app_layout: application
position: 19

[content]
<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    {{ cms:partial cms/breadcrumbs }}
  </nav>

  <article class="article">
    {{ cms:partial cms/title }}
    <div class="s-article">
      {{ cms:wysiwyg content }}
    </div>

    {{ cms:partial cms/countries_by_regions }}
  </article>
</main>

[js]


[css]


