[attributes]
---
label: Versions on the left, article on the right
app_layout: application
position: 2

[content]
<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    {{ cms:partial cms/breadcrumbs }}
  </nav>

  <aside class="one-fourths">
    {{ cms:partial cms/versions/versions_nav }}
  </aside>

  <article class="three-fourths article">
    {{ cms:partial cms/title }}
    
    {{ cms:checkbox display_version_alert, render: false }}
    {{ cms:partial cms/versions/version_alert }}
    <div class="s-article">
      {{ cms:wysiwyg content }}
    </div>
  </article>
</main>


[js]


[css]


