[attributes]
---
label: Sibling page navigation, article and dropdown of child pages
app_layout: application
position: 21

[content]
<div class="container--profile container--push-bottom container--right-padded v-cms-content">
  <nav class="breadcrumbs">
    {{ cms:partial cms/breadcrumbs }}
  </nav>

  <main>
    {{ cms:partial cms/parent_title }}
    <aside class="one-fourths">
      {{ cms:partial cms/siblings_nav }}
    </aside>
	
    <div class="three-fourths">
	    <article class="article">
	      {{ cms:partial cms/title }}
    	  <div class="s-article">
        	{{ cms:wysiwyg content }}
	      </div>
    	
    	  {{ cms:partial cms/child_dropdown }}
        </article>
    </div>
  </main>
</div>

[js]


[css]


