[attributes]
---
label: Template - Thematic area - Link
app_layout: application
position: 17

[content]
{{ cms:partial layouts/cms/thematic-area-link }}
{{ cms:wysiwyg content, render: false }}
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file image, render:false }}
{{ cms:text button-link, render: false, required: true }}
{{ cms:text button-text, render: false, required: true }}













[js]












[css]












