[attributes]
---
label: Child pages navigation on the left, article on the right
app_layout: application
position: 18

[content]
<div class="container--profile container--push-bottom container--right-padded">
  <nav class="breadcrumbs">
    {{ cms:partial cms/breadcrumbs }}
  </nav>

  <main>
    {{ cms:partial cms/title }}
    <aside class="one-fourths">
      {{ cms:partial cms/children_nav }}
    </aside>

    <article class="three-fourths article">
      <div class="s-article">
        {{ cms:wysiwyg content }}
      </div>
    </article>
  </main>
</div>


[js]


[css]


