[attributes]
---
label: Page - PAME
app_layout: application
position: 7

[content]
{{ cms:text summary, render: false, required: true }}
{{ cms:text social-title, render: false }}
{{ cms:text social-description, render: false }}
{{ cms:file image, render:false }}
{{ cms:text tab-title-1, render: false }}
{{ cms:text tab-title-2, render: false }}
{{ cms:text tab-title-3, render: false }}
{{ cms:text tab-title-4, render: false }}
{{ cms:wysiwyg tab-content-1, render: false }}
{{ cms:wysiwyg tab-content-2, render: false }}
{{ cms:wysiwyg tab-content-3, render: false }}
{{ cms:wysiwyg tab-content-4, render: false }}











[js]













[css]













